################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Township-API/FileContentIndex/267538ff-7823-49f1-95ce-1837ec0d8673.vsidx
/.vs/Township-API/FileContentIndex/746861fe-93b6-4c0f-a84b-032c14a39fdb.vsidx
/.vs/Township-API/FileContentIndex/87781a2f-852d-4701-836a-de476028cf08.vsidx
/.vs/Township-API/FileContentIndex/a4a7df22-fd9e-4ad9-836d-86246ecdd219.vsidx
/.vs/Township-API/FileContentIndex/829fb57c-c3e2-4143-b64c-bfff9f91ef73.vsidx
/.vs/Township-API/FileContentIndex/aad46408-8ed2-4095-89fe-c4cb631eb789.vsidx
/.vs/Township-API/FileContentIndex/d0227bae-a2b9-44e1-9b11-ac78c6554ea5.vsidx
/.vs/Township-API/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
/.vs/Township-API/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
/.vs/Township-API/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
/.vs/Township-API/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
/.vs/Township-API/FileContentIndex/a52838b4-e4ac-4adb-afd8-95b45761ba4e.vsidx
/.vs/Township-API/v17/.suo
/obj/Debug/net8.0/Township-API.AssemblyInfo.cs
/obj/Debug/net8.0/Township-API.AssemblyInfoInputs.cache
/.vs/Township-API/FileContentIndex/2a4ae0a0-0f2d-4e7f-9b41-66489ad5c3e4.vsidx
/obj/project.nuget.cache
/obj/Debug/net8.0/Township-API.sourcelink.json
/obj/project.assets.json
/obj/Release/net8.0/apphost.exe
/obj/Debug/net8.0/Township-API.pdb
/obj/Debug/net8.0/Township-API.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/Township-API.dll
/obj/Debug/net8.0/Township-API.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Township-API.AssemblyInfo.cs
/obj/Debug/net8.0/Township-API.assets.cache
/obj/Debug/net8.0/refint/Township-API.dll
/obj/Debug/net8.0/EndpointInfo/Township-API.json
/obj/Debug/net8.0/ref/Township-API.dll
/obj/Release/net8.0/ref/Township-API.dll
/obj/Debug/net8.0/apphost.exe
/obj/Release/net8.0/refint/Township-API.dll
/obj/Release/net8.0/Township-API.AssemblyInfoInputs.cache
/obj/Release/net8.0/Township-API.assets.cache
/obj/Release/net8.0/Township-API.dll
/obj/Release/net8.0/Township-API.pdb
/obj/Release/net8.0/Township-API.sourcelink.json
/obj/Release/net8.0/Township-API.AssemblyInfo.cs
/obj/Release/net8.0/win-x64/Township-API.AssemblyInfo.cs
/obj/Release/net8.0/win-x64/Township-API.AssemblyInfoInputs.cache
/obj/Release/net8.0/win-x64/Township-API.dll
/obj/Release/net8.0/win-x64/Township-API.pdb
/obj/Release/net8.0/win-x64/Township-API.sourcelink.json
/Properties/PublishProfiles/FolderProfile1.pubxml.user
/bin/Release/net8.0/win-x64/Township-API.dll
/bin/Release/net8.0/win-x64/Township-API.exe
/bin/Release/net8.0/win-x64/Township-API.pdb
/.vs/Township-API/CopilotIndices/17.13.433.20974/CodeChunks.db
/.vs/Township-API/CopilotIndices/17.13.433.20974/SemanticSymbols.db
/.vs/Township-API/DesignTimeBuild/.dtbcache.v2
/.vs/Township-API/FileContentIndex/0775c66e-251c-4b69-b020-0c31d34ea246.vsidx
/.vs/Township-API/FileContentIndex/1fc4b0ce-8e08-444f-be9c-913fb6c5fe5d.vsidx
/.vs/Township-API/FileContentIndex/5811669b-51de-4866-a534-b57d04a91fe5.vsidx
/.vs/Township-API/FileContentIndex/7d2465b3-7a5e-41a1-b71f-d203d64da8bb.vsidx
/.vs/Township-API/FileContentIndex/d19a5357-46cb-4e12-9e4b-26792f480dbd.vsidx
/.vs/Township-API/FileContentIndex/f31df0d6-f1cc-4971-8055-ca0bdb6bd1f8.vsidx
/.vs/Township-API/v17/.suo
/.vs/Township-API/v17/DocumentLayout.backup.json
/.vs/Township-API/v17/DocumentLayout.json
/bin/Debug/net8.0/package-lock.json
/bin/Debug/net8.0/Township-API.dll
/bin/Debug/net8.0/Township-API.exe
/bin/Debug/net8.0/Township-API.pdb
/bin/Release/net8.0/Township-API.dll
/bin/Release/net8.0/Township-API.exe
/bin/Release/net8.0/Township-API.pdb
/.vs/Township-API/FileContentIndex/f0c79f6a-8c6f-43f9-83c5-be4dc4093511.vsidx
/bin/Debug/net8.0/appsettings.json
/bin/Release/net8.0/appsettings.json
/bin/Release/net8.0/win-x64/appsettings.json
*.vsidx
/obj/Release/net8.0/win-x64/PubTmp/Out/Township-API.exe
/obj/Release/net8.0/win-x64/PubTmp/Out/Township-API.exe
/obj/Release/net8.0/win-x64/PubTmp/Out/Township-API.exe
/bin
/obj
/Properties
/appsettings.json
